# Auth0 Configuration
Auth0__Authority=
Auth0__Audience=

# Database Configuration
ConnectionStrings__HopitalManagementDB=

# MinIO Configuration
MinIO__Endpoint=
MinIO__AccessKey=
MinIO__SecretKey=
MinIO__BucketName=medical-records-pdf

MINIO_ROOT_USER= 
MINIO_ROOT_PASSWORD=super plus promax strong password

# Gemini Configration
Gemini__ApiKey=
Gemini__Model=gemini-2.5-flash
Gemini__Action=generateContent

# Email Configration
Email__FromEmail=
Email__Password=super plus promax strong password 
Email__SmtpHost=
Email__SmtpPort=69

# CLient Configration
Client__BaseUrl=http://localhost:5173