# Auth0 Configuration
Auth0__Authority=
Auth0__Audience=

# Database Configuration
ConnectionStrings__HopitalManagementDB=

# MinIO Configuration
MinIO__Endpoint=
MinIO__AccessKey=
MinIO__SecretKey=
MinIO__BucketName=

MINIO_ROOT_USER= 
MINIO_ROOT_PASSWORD=